<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BancoDadosAcoes.Properties.Settings.strConnection"
            connectionString="Data Source=DESKTOP-SEACM7B;Initial Catalog=dbUser;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>